*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
body{
    font-family: "Mulish";
}
.container1{
    margin: 0;
    max-width: 1700px;
    background-color: blue;
    height: 75px;
    padding: 20px;
    color: white;
    justify-content: space-around;
    vertical-align: middle;

}
.colonna{
    height: 35px;
    width: 100px;
    background-color: orange;
    border: 2px dotted black;
    padding: 6px;
}
.middle-column{
    border: 2px solid black;
}
.text-allign{
    text-align: center;
}
.text-allign1{
    text-align: start;
}
.text-allign2{
    text-align: end;
}
.container2{
    margin: 0;
    max-width: 1700px;
    height: 300px;
    justify-content: center;
    padding: 25px;

}
.img1{
    background-image: url(./img/jumbo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.blocco1{
    background-color: blue;
}
.colonna2{
    width: 700px;
    height: 250px;
    color: white;
    text-align: center;
}
.blocco2{
    background-color: white;
}
.colonna3{
    width: 550px;
    height: 250px;
}
.colonna4{
    width: 350px;
    height: 250px;

}
.blocco3{
    background-color: rgb(233, 229, 229);
}
.container4{
    margin: 0;
    max-width: 1700px;
    height: 500px;
    justify-content: center;
    padding: 25px;
    align-items: center;
}
.colonna5{
    width: 900px;
    height: 445px;

}
.blocco4{
    background-color: rgba(9, 14, 22, 0.896);
}
.colonna6{
    height: 250px;
    width: 150px;
    background-color: turquoise;
    border: 2px dotted white;
}
.colonna7{
    height: 250px;
    width: 300px;
    background-color: rgb(174, 96, 96);
    border: 2px dotted black;
}
.container5{
    margin: 0;
    max-width: 1700px;
    height: 75px;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}
.colonna8{
    height: 40px;
    width: 900px;
    background-color: aqua;
}
.margin{
    margin-top: 1px;
    margin-bottom: 1px;
}
.logo{
    width: 45px;
    height: auto;
    border: 2px dotted black;
    padding: 2px;
    display: inline-block;
    background-color: rgb(246, 165, 165);
    margin-right: 791px;
    margin-top: 6px;
}
.bottone{
    width: 60px;
    height: auto;
    border: 2px dotted black;
    padding: 2px;
    display: inline-block;
    background-color: rgb(246, 165, 165);
}
.space-between{
    justify-content: space-between;
}
.container6{
    max-width: 1700px;
    height: 75px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
ul li{
    list-style-type: none;
    display: inline-block;
    padding-right: 15px;
}
.mac{
    display: inline-block;
    background-color: white;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    color: black;
    margin-top: 15px;
}
.paragrafo1{
    margin: 0;
    max-width: 1700px;
    height: 300px;
    justify-content: center;
    padding: 25px;
    background-image: url(./img/jumbo.png);
    background-size: cover;

}
.browser{
    display: inline-block;
    background-color:black;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    color: white;
    margin-top: 15px;
}
.item1{
    height: 245px;
    width: 500px;
}

h2{
    font-size: 30px;
}
.big-image{
    height: 270px;
    width: 660px;
}
#stars{
    background-image: url(./img/stars.svg);
    height: 50px;
}
.mac2{
    display: inline-block;
    background-color: rgb(155, 137, 234);
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    color: white;
    margin-top: 15px;
}